.places {
    display: grid;
    margin: 50px 0 0;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    gap: 17px 20px;
}

@media screen and (max-width: 1279px) {
    .places {
        margin: 0 19px 50px;
        grid-template-columns: 282px;
        grid-template-rows: 361px;
        gap: 20px 0;
    }
}