.popup__form {
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: 358px;
}

@media screen and (max-width: 1279px) {
    .popup__form {
        min-width: 238px;
    }
}